:root {
    --text-dark: #000;
    --text-light: #fff;
    --bg-dark: #000;
    --bg-light: #f4f4f4;
    --bg-grey: #2d3440;
    --bg-grey-transparent: #2d34408c;
    --bg-grey-light: #737e90;
    --main: #0842bd;
    --main-opacity: #0841bde9;

}
