:root {
    --text-sm: 14px;
    --text-md: 16px;
    --text-lg: 20px;
    --text-xl: 24px;
    --border-sm: 1px;
    --border-md: 2px;
    --rounded-sm: 5px;
    --rounded-normal: 8px;
    --rounded-md: 12px;
    --rounded-full: 50%;
}