.container_search_panel {
    width: 100%;
    /* height: 100px; */
    padding: 20px 40px;
    position: fixed;
    top: 0;
    display: flex;
    column-gap: 30px;
    align-items: flex-end;
    background-color: rgb(220, 220, 220);
}