.container_input {
    width: 50%;
    position: relative;
}

.search_input {
    width: 100%;
    font-size: var(--text-md);
    font-weight: 400;
    padding: 7px 10px;
    color: var(--text-dark);
    border: var(--border-sm) solid var(--main);
    border-radius: var(--rounded-md);
}

@media screen and (width <= 768px) {
    .container_input {
        width: 85%;
    }
}

@media screen and (width <= 480px) {
    .container_input {
        width: 95%;
    }
}