.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.box_info {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    border: var(--border-sm) solid var(--main);
    border-radius: var(--rounded-sm);

    ul {
        font-size: var(--text-lg);
        font-weight: 500;
        display: flex;
        padding: 10px;
        color: var(--text-dark);
        list-style-type: none;
        flex-direction: column;
        row-gap: 15px;
    }

    header {
        padding: 10px;
        text-align: center;
        background-color: var(--main);

        span {
            font-size: var(--text-xl);
            font-weight: 500;
            color: var(--text-light);
        }
    }
}


@media screen and (width <= 768px) {
    .box_info {
        width: 70%;

        ul {
            font-size: var(--text-md);
        }
        header {
            padding: 10px 5px;
    
            span {
                font-size: var(--text-lg);
            }
        }
    }

}

@media screen and (width <= 480px) {
    .box_info {
        width: 90%;

        ul {
            font-size: var(--text-sm);
        }
        header {
            span {
                font-size: var(--text-md);
            }
        }
    }
}

