.box_select {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}

.box_select .select {
    color: #000;
    border-radius: 10px;
    border: 1px solid rgb(2, 141, 255);
    font-size: 15px;
    padding: 3px 10px;
    font-weight: 400;
    outline: none;
}

.box_select label {
    font-size: 17px;
    font-weight: 600;
}